.ant-layout-content {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    background: #fff;
}

/*pcb-nav*/
.pcb-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 1176px;
    padding-top: 80px;
    box-sizing: border-box;
    border-radius: 18px;
    background: #2952ea;
}

.pcb-nav ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pcb-nav ul li span {
    font-size: 36px;
    color: #6b8aff;
}

.pcb-nav ul li.cur>a>div {
    margin-right: -50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 12px 1px rgba(154, 181, 211, 0.77);
    width:58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_one_show{
    filter: hue-rotate(170deg) brightness(1.4);
}
.pcb-nav ul li.cur>a>div >img {
    padding: 12px;
    font-size: 36px;
    color: #ffba00;
    filter: hue-rotate(170deg) brightness(1.4);
}

.pcb-min-info {
    width: 832px;
    padding: 0 30px;
    float: left;
    margin-left: 85px;
    box-sizing: border-box;
}


/*pcb-min*/
.pcb-min {
    position: relative;
    width: 100%;
    padding: 30px 40px;
    min-height: 560px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: rgba(241, 247, 252, 1);
    border-radius: 16px;
    overflow: hidden;
}

.update_status {
    width: 550px;
    height: 49px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid rgba(171, 191, 254, 1);
    border-radius: 10px;
    margin: 12px 0 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-checkbox-wrapper {
    margin-right: 23px;
}

.progress {
    height: 100%;
    width: 90%;
}
.show_progress_speed{
    margin-right: 10px;
    font-size: 14px;
}
.progress_inner {
    width: 100%;
    height: 100%;
    background: rgba(235, 240, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.progress_s {
    width: 80%;
}

.progress_f {
    height: 100%;
    height: 2px;
    background: rgba(45, 88, 231);
    z-index: 10;
}

.clip {
    z-index: 1000;
    position: absolute;
    top: -17px;
    left: -49px;
    width: 145px;
    height: 80px;
}

.img_show {
    z-index: 20;
    position: absolute;
    top: -87px;
    left: -253px;
    width: 550px;
    height: 240px;
}

.img_show>img {
    width: 100%;
    height: 100%;

    background-size: 100% 100%;
}

.update_font {
    width: 313px;
    height: 12px;
    font-size: 14px;
    font-family: 'Arial';
    font-weight: 400;
    color:#666666;
    line-height: 36px;
    position: absolute;
    bottom: -5px;
    left: -32px;
    position: absolute;
    top: 107px;
    left: -126px;
    z-index: 21;
}

.is_checked {
    background-color: white;
    color: #2952ea !important;
}

.pcb-min .pcb-file {
    position: relative;
    width: 548px;
    height: 300px;
    margin: 20px auto 0;
    border: 2px dashed #abbffe;
    border-radius: 20px;
    overflow: hidden;
    background: #fff;
}

.pcb-min .items-start .w-third {
    width: 100%;
}

.pcb-min .items-start button {
    display: block;
    float: left;
    border: 0;
    margin: 0;
    padding: 0;
    width: 88px;
    height: 34px;
    background: none;
    margin-right: 30px;
}

.pcb-min .items-start button span {
    display: block;
    width: 100%;
    line-height: 34px;
    text-align: center;
    background: rgba(249, 251, 255, 1);
    border-radius: 10px;
    font-size: 12px;
    color: #999;
    margin: 0;
    padding: 0;
    border: none;
}

.pcb-min .items-start button span.b--brand {
    background: #2952ea;
    color: #fff;
}

.pcb-min .ant-form {
    margin-top: 40px;
}

.pcb-min .ant-form .ant-form-item {
    margin-bottom: 15px;
}

.pcb-min .ant-input,
.ant-layout-content .pcb-min .ant-select-selector {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(206, 206, 206, 1);
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
}

.pcb-min .ant-form .ant-form-item-label {
    width: 32%;
}
.ant-form-item-label > label{
    color:#666666!important
}
.pcb-min .ant-form .ant-form-item-control {
    width: 68%;
}


/*pcb-spec*/
.pcb-spec {
    width: 100%;
    height: 496px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 21px 0px rgba(172, 189, 253, 0.77);
    border-radius: 16px;
    padding: 0 26px;
    padding-top: 50px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.pcb-spec .ant-form .ant-form-item-label {
    width: 50%;
    text-align: left;
}

.pcb-spec .ant-form .ant-form-item-control {
    width: 50%;
}

.pcb-spec .ant-form .special-mar .ant-form-item-label {
    width: 70%;
}

.pcb-spec .ant-form .special-mar .ant-form-item-control {
    width: 30%;
}

.pcb-spec .ant-form .ant-form-item-label label {
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 36px;
    text-align: right;
}

.pcb-spec .ant-space {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.pcb-spec .ant-space .ant-radio-button-wrapper {
    width: 90px;
    height: 30px;
    line-height: 28px;
    border-color: #2952ea;
    color: #2952ea;
}

.ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
}

.pcb-spec .ant-space .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background: #2952ea;
    color: #fff;
    border-color: #2952ea;
}

.pcb-spec .ant-space .ant-radio-group-outline label:first-child {
    border-radius: 22px 0 0 22px;
}

.pcb-spec .ant-space .ant-radio-group-outline label:last-child {
    border-radius: 0 22px 22px 0;
}

.pcb-spec h2.ant-typography {
    display: flex;
    align-items: center;
}

.pcb-spec .ant-typography span {
    font-size: 28px;
    color: #ffba00;
    margin-right: 18px;
}

.pcb-spec .ant-typography b {
    margin: 0;
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
}

.pcb-spec .ant-form {
    position: relative;
    margin-top: 40px;
    padding: 0 3%;
    box-sizing: border-box;
}

.pcb-spec .ant-form .ant-row .ant-col-last {
    padding-left: 10%;
}

.pcb-spec .ant-form::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #ebebeb;
}

.pcb-spec .ant-form .ant-form-item {
    margin-bottom: 10px;
}

.pcb-spec .ant-form .ant-form-item-label label {
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
}

.pcb-spec .ant-form .ant-col .ant-form-item-control .ant-select-selector {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(206, 206, 206, 1);
    box-sizing: border-box;
    border: 0;
    text-align: center;
    color: #2952EA;
}

.pcb-spec .ant-form .ant-form-item-control-input-content .ant-switch {
    background: #f1f7fc;
}

.pcb-spec .ant-form .ant-form-item-control-input-content .ant-switch.ant-switch-checked {
    background: #2952ea;
}

/*侧边栏*/
.pcb-sidebar {
    width: 382px;
    float: right;
}

/*********************pcb-build-time********************/
.pcb-sidebar .pcb-build-time {
    width: 382px;
    height: 486px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 21px 0px rgba(172, 189, 253, 0.77);
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 25px 30px;
    box-sizing: border-box;
}

.pcb-sidebar .anticon-clock-circle {
    font-size: 28px;
    color: #ffba00;
    margin-right: 18px;
}

.pcb-sidebar .pcb-build-time h3 {
    display: flex;
    align-items: center;
    margin: 0;
}

.pcb-sidebar .pcb-build-time h3 b {
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    line-height: 1;
}

.pcb-sidebar .pcb-build-time .ant-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pcb-sidebar .pcb-build-time .ant-radio-button-wrapper {
    width: 88px;
    height: 34px;
    line-height: 34px;
    background: rgba(249, 251, 255, 1);
    border-radius: 10px;
    border: none;
    text-align: center;
}

.pcb-sidebar .pcb-build-time .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    color: #fff;
    background: rgba(41, 82, 234, 1);
    box-shadow: 0px 6px 16px 2px rgba(121, 156, 255, 0.77);
}

.pcb-sidebar .pcb-build-time .ant-radio-button-wrapper::before {
    display: none;
}

.pcb-sidebar .pcb-build-time .ant-row-cont {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.pcb-sidebar .pcb-build-time .ant-row-cont .ant-typography {
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    line-height: 1;
    color: rgba(102, 102, 102, 1);
}

.pcb-sidebar .pcb-build-time .ant-row-cont .ant-typography b {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: rgba(41, 82, 234, 1);
    line-height: 1;
}


/*********************pcb-fee********************/
.pcb-sidebar .pcb-fee {
    width: 382px;
    min-height: 184px;
    background: rgba(240, 246, 251, 1);
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.pcb-sidebar .pcb-fee .fee-cont>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.pcb-sidebar .pcb-fee .fee-cont>div span {
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.pcb-sidebar .pcb-fee .fee-cont .ant-row>div {
    display: flex;
    align-items: center;
}

.pcb-sidebar .pcb-fee .fee-cont .ant-row>div span.anticon {
    padding: 5px;
    font-size: 20px;
    color: #ffba00;
    background: #fff;
    border-radius: 6px;
    margin-right: 15px;
}

/*********************pcb-cost********************/
.pcb-sidebar .pcb-cast {
    width: 382px;
    height: 146px;
    background: rgba(240, 246, 251, 1);
    border-radius: 16px;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.pcb-cast .anticon-pay-circle {
    font-size: 28px;
    color: #ffba00;
    margin-right: 18px;
}

.pcb-cast h3.ant-typography {
    display: flex;
    align-items: center;
    margin: 0;
}

.pcb-cast h3.ant-typography b {
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.pcb-cast .shopping-cast-mar {
    margin-top: 30px;
}

.pcb-cast .shopping-cast-mar i {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-family: Arial;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    color: rgba(102, 102, 102, 1);
}

/*********************pcb-total********************/
.pcb-sidebar .pcb-total {
    width: 382px;
    height: 268px;
    background: rgba(241, 247, 252, 1);
    border-radius: 16px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    padding: 30px;
    box-sizing: border-box;
}

.pcb-total .ant-row {
    line-height: 30px;
    margin-bottom: 24px;
}

.pcb-total .ant-row h5 {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: rgba(41, 82, 234, 1);
}

.pcb-total .ant-row b {
    display: block;
    font-size: 24px;
    text-align: right;
    font-family: Arial;
    font-weight: bold;
    color: rgba(41, 82, 234, 1);
}

.pcb-total .ant-row i {
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    color: rgba(41, 82, 234, 1);
}

.pcb-total .ant-row strong {
    display: block;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: rgba(41, 82, 234, 1);
    text-align: right;
}

.pcb-total .ant-row .total-swap {
    position: absolute;
    bottom: -26px;
    right: 12px;
    font-size: 26px;
    color: #FFBA00;
    transform: rotate(90deg);
}

.pcb-total .ant-row .total-select,
.pcb-total .ant-row .total-select>div {
    width: 100%;
    text-align: center;
    background: #fff;
    border: 0;
    border-radius: 6px;
    font-weight: normal;
}

.pcb-total .ant-row .total-transc {
    width: 62px;
    position: absolute;
    top: 0;
    right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background: #2952ea;
    height: 29px;
    border-radius: 4px;
}

.pcb-total .ant-row .total-shopping-icon {
    display: flex;
    justify-content: space-between;
}

.pcb-total .ant-row .total-shopping-icon span {
    font-size: 40px;
    color: #2952ea;
}

/*pcb-stencil*/
.pcb-stencil {
    width: 100%;
    height: 363px;
    padding: 50px 134px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 21px 0px rgba(172, 189, 253, 0.77);
    border-radius: 16px;
    margin-bottom: 30px;
}

.pcb-manual .manual-plate {
    margin-bottom: 4px;
    overflow: hidden;
}

.pcb-stencil .ant-row {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.pcb-stencil .ant-col span {
    display: block;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.pcb-stencil .ant-col .ant-select-selector {
    /* width: 180px; */
    /* height: 30px; */
    background: #f1f7fc;
    border: 0;
    border-radius: 0;
    text-align: center;
}

.pcb-assembly {
    width: 100%;
    height: 496px;
    padding: 50px 134px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 21px 0px rgba(172, 189, 253, 0.77);
    border-radius: 16px;
    margin-bottom: 30px;
}

.pcb-assembly h2.ant-typography {
    display: flex;
    align-items: center;
}

.pcb-assembly .ant-typography span {
    font-size: 28px;
    color: #ffba00;
    margin-right: 18px;
}

.pcb-assembly .ant-typography b {
    margin: 0;
    font-size: 20px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 36px;
}

.pcb-assembly .ant-row {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}

.pcb-assembly .ant-col span {
    /* display: block; */
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}




/*Manualform*/
.pcb-manual {
    width: 773px;
    padding: 20px 28px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 21px 0px rgba(172, 189, 253, 0.77);
    border-radius: 16px;
    color: #000;
}

.pcb-manual .manual-plate h4 {
    display: flex;
    align-items: center;
}

.pcb-manual .manual-plate h4 span {
    font-size: 26px;
    color: #FFBA00;
    margin-right: 18px;
}

.pcb-manual .manual-plate h4 i {
    font-size: 20px;
    font-style: normal;
    font-family: Arial;
    font-weight: bold;
    color: #000;
    line-height: 36px;
}

.pcb-manual .manual-plate .ant-row {
    margin-bottom: 5px;
}

.pcb-manual .manual-plate .ant-row .ant-col {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: Arial;
    color: #000;
}

.pcb-manual .manual-plate .manual-title,
.pcb-manual .manual-plate .manual-title .ant-col,
.pcb-manual .manual-plate .manual-title .ant-col h4 {
    line-height: 40px;
    height: 40px;
    margin-bottom: 0;
}

.pcb-manual .manual-plate .ant-row .ant-col .ant-select,
.pcb-manual .manual-plate .ant-row .ant-col .ant-select-selector {
    width: 140px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    border: none;
    background: rgba(241, 247, 252, 1);
    color: rgba(206, 206, 206, 1);
    box-sizing: border-box;
    border-radius: 3px;
}

body {
    height: auto !important;
    overflow: hidden !important;
}

.sans .ant-layout {
    background: #fff;
    padding-top: 12px;
}

.sans .ant-layout .ant-layout-header {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: none;
    padding: 0;
    height: 48px;
    margin-bottom: 68px;
}

.sans .ant-layout .ant-layout-header .logo {
    width: 210px;
    height: auto;
    display: flex;
    align-items: center;
}

.sans .ant-layout .ant-layout-header .logo img {
    display: block;
    width: 100%;
    max-width: auto;
    max-height: auto;
    height: auto;
}

.sans .ant-layout .ant-layout-header .sign-btn {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.sign-in {
    display: block;
    width: 143px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #2952ea;
    border-radius: 26px;
    border: 2px solid #2952ea;
    cursor: pointer;
}

.sans .ant-layout .ant-layout-header .anticon-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #2952ea;
    border: 2px solid #2952ea;
    border-radius: 100%;
    cursor: pointer;
}

.h-100 {
    height: auto !important;
    overflow: auto;
    margin: 0;
    padding: 0 !important;
}

.drop_down {
    overflow: scroll;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-size: 16px;
}

.select_style {
    overflow: auto;
}

.vertical_svg_first {
    width: 588px;
    height: 203px;
    background: white;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical_svg_first>div>svg{
    width: 588px;
    height: 203px;
}
.vertical_svg_first>div{
    max-width: 588px;
    max-height: 203px;
}
.svg_show_img{
    width: 580px;
    height: 400px;
   
}.svg_show_img>svg{
    width: 580px;
    height: 400px;
}
.w-100 {
    width: 339px;
    height: 168px;
}
.show_one_img{
    width: 548px;
    height: 400px;
    margin: auto;   
    overflow: hidden;
}
.transverse_svg {
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
}

.transverse_svg_first {
    width: 347px;
    height: 347px;
    background: white;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transverse_svg_first>svg{
    max-width: 347px;
    max-height: 347px;
}

.footer {
    width: 1440px;
    height: 404px;
    background: #2952ea;
    margin: 0 auto;
}

.footer_main {
    display: flex;
    justify-content: space-around;
    padding-top:32px
}

.footer_main>div {
    width: 40%;
}

.footer_link {
    width: 644px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.footer_link>a {
    display: block;
    width: 168px;
    font-size: 14px;
    color: rgb(157, 190, 235)
}

.main_left {
    font-size: 14px;
    color: rgb(157, 190, 235)
}

.main_left>p {
    height: 34px;
}

.copyright {
    display: flex;
    justify-content: space-around;
}

.copyright>p {
    width: 38%;
    font-size: 14px;
    color: rgb(157, 190, 235)
}

.copyright_right {
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: rgb(157, 190, 235)
}
#footer_link_to>a{
    font-size:20px
}
.dhl>img {
    width: 51px;
    height: 26px;
}

.the_national_flag {
    display: flex;
    justify-content: space-between;
}

.dhl {
    border-right: 1px solid #DBDBDB;
    height: 34px;
    width: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_title {
    padding-bottom: 55px;   
}

.footer_title>img {
    width: 176px;
    height: 37px;
}

.info_footer {
    padding: 24px 0;
}

.footer_link_icon>img {
    width: 28px;
    height: 28px;
    margin-right: 13px;
}

.footer_link_icon {
    width: 202px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    padding-top: 12px;
}

.show_link_country>img {
    margin-left: 16px;
}

.ant-switch-checked::after {
    margin-left: 30px;
    position: absolute;
    top: 2px;
    left: 4px;
    width: 5px;
    height: 14px;
    border-radius: none;
}

.get_img_show {
    width: 49px;
    height: 35px;
}

.get_img_show>img {
    width: 100%;
    height: 100%;
}

.total-select>div {
    text-align: center;
}

.ant-select-disabled.ant-select-single:not(.ant-select-customize-input)>.ant-select-selector {
    background-color: white;
}

.express_choose {
    width: 83px;
    margin: 0 17px 0 17px;
    border-right: 1px solid rgba(219, 219, 219, 1);
}

.express_choose:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    outline: none;
    padding: 0;
    background: rgba(240, 246, 251, 1);
}


.ant-col-16 {
    display: flex;
    justify-content: space-around;
}

.country_select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    padding: 0;
    background: rgba(240, 246, 251, 1);
}

.country_select {
    width: 147px !important;
}

.country_choose>img {
    width: 45px;
    height: 26px;
}

.express_logo {
    width: 51px;
    height: 26px;
}

.all_country_logo {
    width: 46px;
    height: 38px;
    margin-right: 10px;
}

.express_choose>.ant-select-arrow,
.country_select>.ant-select-arrow {
    background: rgba(240, 246, 251, 1);
    z-index: -10;
}

.country_name {
    font-size: 14px;
    font-family: 'Arial';
    font-weight: 400;
    color: rgba(41, 82, 234, 1);
}

.header_logo {
    width: 48px;
    height: 48px;
    border: 2px solid #2952ea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo>img {
    width: 21px;
    height: 26px;
}

.login {
    width: 100%;
    padding-bottom: 78px;
}
.login_inner_layout{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    align-items: center;
}
.logo_inner {
    width: 210px;
    height: 42px;

}
.logo_inner>img{
    width: 210px;
    height: 42px;
}

.sign-btn {
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-icon {
    width: 47.9px;
    height: 47.9px;
    border:2px solid #2952EA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
    color:#2952EA;
    font-size: 24px;
}

.nav_logo_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.nav_logo_inner>li>a:hover{
    color: #FFCA00;
    text-decoration: underline;;
}
.nav_logo_inner>li{
    min-width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nav_logo_inner>li:nth-child(4),.nav_logo_inner>li:nth-child(5){
    width: 155px;
}
.nav_logo_inner>li:nth-child(5){
    margin-right: 5px;
}
.nav_down_menu>ul{
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.nav_down_menu>ul>li{
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}
.nav_down_menu{
    position: absolute;
    top:53px;
    left: -3px;
    z-index: 5;
    background-color: white;
    width: 520px;
    height: 382px;
    border-radius: 10px;
    transition: all 300ms ease-in;
    padding-top: 5px;
    box-shadow: 0px 0px 20px 10px #cccccc;
    animation: fadeInLeft 300ms ease-in;
}
.down_menu_one,.down_menu_two,.down_menu_three{
    position: relative;
}
.down_sw{
    position: absolute;
    top:33px;
    left: 8px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #cccccc;
}
.down_sh{
    position: absolute;
    top:-20px;
    left: 8px;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #cccccc;
}
.nav_down_menu>ul>li>a:hover{
    color: #FFCA00;
    padding-left: 8px;
    text-decoration: underline;
}
.nav_logo_menu>ul>a:hover li{
    list-style: inside;
}
.down_menu_one:hover .nav_down{
    display: block;
}
.nav_down{
    display: none;
}
.nav_down:hover{
    display: block;
}
.nav_logo{
    height: 60px;
    line-height: 60px;
}
.down_nav_two{
    position: absolute;
    top:53px;
    left: -3px;
    z-index: 5;
    background-color: white;
    width: 260px;
    height: 222px;
    border-radius: 10px;
    transition: all 300ms ease-in;
    padding-top: 5px;
    box-shadow: 0px 0px 20px 10px #cccccc;
    animation: fadeInLeft 300ms ease-in;
}
.down_nav_two>a{
    display: block;
    margin-left: 15px;
    height: 40px;
}
.down_nav_two>a:hover{
    color: #FFCA00;
    padding-left: 8px;
    text-decoration: underline;
}

.down_two{
    display: none;
}

.down_menu_two:hover .down_two{
    display: block;
}
.nav_three{
    position: absolute;
    top:53px;
    left: -3px;
    z-index: 5;
    background-color: white;
    width: 260px;
    height: 182px;
    border-radius: 10px;
    transition: all 300ms ease-in;
    padding-top: 5px;
    box-shadow: 0px 0px 20px 10px #cccccc;
    animation: fadeInLeft 300ms ease-in;
}
.nav_three{
    display: none;
}
.down_menu_three:hover .nav_three{
    display: block;
}
.nav_inner_three{
    padding-left: 20px;
}
.nav_inner_three>div>p:hover{
    color: #FFCA00;
    padding-left: 8px;
}
.capability,.delivery,.support{
    z-index: 5;
    background-color: white;
    width: 260px;
    height: 45px;
    /* line-height: 45px; */
    border-radius: 10px;
    padding-top: 5px;
    box-shadow: 0px 0px 20px 10px #cccccc;
}
.capability{
    position: absolute;
    top:10px;
    left:260px;
    line-height: 39px;
    display: none;
}
.delivery{
    position: absolute;
    top:75px;
    left:260px;
    line-height: 39px;
    display: none;
}
.support{
    position: absolute;
    top:134px;
    left:260px;
    line-height: 39px;
    display: none;
    height: 90px;
}
.nav_inner_one:hover .capability{
    display: block;
}
.nav_inner_two:hover .delivery{
    display: block;
}
.nav_inner_threes:hover .support{
    display: block;
} 
.ant-menu-horizontal{
    border:none
} 
.three_option{
    width: 250px !important;
}
.three_option:hover{
    padding-left: 20px;
    color: #FFCA00;
}
.capability>a,.delivery>a,.support>a{
    padding-left: 15px;
}
.capability>a:hover{
    color:#FFCA00;
    padding-left: 20px;
    text-decoration: underline;
}
.delivery>a:hover{
    color:#FFCA00;
    padding-left: 20px;
    text-decoration: underline;
}
.support>p{
    padding-left: 15px;
}
.support>p>a:hover{
    color:#FFCA00;
    padding-left: 20px;
    text-decoration: underline;
}

/* .title_blog{
    padding-left: 10px;
    display: flex;
    justify-content: center;
} */

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
} 

.go_to_cart{
    position: absolute;
    top:-25px;
    left: -11px;
    font-size: 12px;
    /* display: none; */
}
.anticon-shopping-cart:hover .go_to_cart{
    display: block;
}
.add_to_cart{
    position: absolute;
    top:-25px;
    left: 70px;
    font-size: 12px;
}
.again_uploads_success,.again_uploads_fail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 701px;
    margin: 0 auto;
    margin-top:20px;
}
.again_uploads_success{
     color: #2952ea;
}
.title_success_top{
    font-size:14px;
    color:#666666;
    width:50%;
    text-align: right;
}
.button_to_file{
    width: 180px;
    height: 30px;
    border: 1px solid #2952ea;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}
.button_to_file:hover{
    background-color: #2952EA;
    color:#ffffff
}
.again_uploads_fail{
    color:#cccccc
}
.again_uploads>button{
    outline: none;
}
.show_default_img{
    width: 540px;
    height: 350px;
    margin:0 auto
}
.show_default_img>p{
    font-size: 14px;
    color:blue;
    text-align: center;
}

.ant-checkbox-inner{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff !important;
}
.ant-checkbox-checked .ant-checkbox-inner::after{
    position: absolute;
    display: table;
    border: 2px solid #2952ea;
    border-top: 0;
    border-left: 0;
    content: ' ';
    left:5px
}
.show_default{
    width: 290px;
    height: 290px;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_default>img{
    width: 220px;
    height: 220px;
}
.new_active{
    position: absolute;
    top: -12px;
    left: 95px;
    width: 20px;
    height: 20px;
}
.new_add_active{
    position: relative;
    padding-right: 10px;
}
.new_active{
    width: 30px;
    height: 30px;
}
.isTest>.ant-select-selector{
    color:#FFBA00 !important
}
.foot_bottom{
    width: 100%;
    height: 404px;
    background: #2952ea;
}
/* .ant-radio-group{
    padding-left: 6px;
    background: #cccccc;
    border-radius: 15px;
} */