.file-updating {
    width: 100%;
    position: absolute;
    left: 0;
    background: #fff;
    top: 0;
    text-align: center;
}

.file-updating>div span {
    position: absolute;
    bottom: 22px;
    left: 97px;
    line-height: 19px;
    width: 442px;
    font-family: ArialMT;
    font-size: 12px;
    color: #8697d4;
    letter-spacing: 0;
    z-index: 21;
}
